.header{
    background-color: aqua;
}

.main{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.sidebar{
    width: auto;
    background-color: linen;
}

.content{
    height: 50px;
    width: 1200px;
    background-color: skyblue;
}

.footer{
    height: 50px;
    background-color: silver;
}
